.details {
    width: 100%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #eaf6ff;
    box-sizing: border-box;
}
img{
    max-width: 100%; 
    margin: 10px 0;
}
.rocket-images{
    display:flex;
    flex-wrap:wrap;
    gap: 10px;
    justify-content: space-around;
}
.rocket-images img {
    max-width: 100%; 
    height: auto;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.toggle-launches{
    margin: 10px 0 20px 0;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.error-message {
    color: red;
    font-weight: bold;
}
.site h1{
    font-size: 3rem;
    padding: 0;
    margin: 0 auto;
    color:#000000;
}
.details h2{
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

    